[submodule "static/marked"]
	path = static/marked
	url = https://github.com/markedjs/marked
[submodule "static/jdenticon"]
	path = static/jdenticon
	url = https://github.com/dmester/jdenticon
[submodule "static/simplemde"]
	path = static/simplemde
	url = https://github.com/sparksuite/simplemde-markdown-editor
