body {
	font-family: Helvetica, sans-serif;
	font-size:   12px;
	/* Yes, I really made this whole thing just so I could crack the
	 * "Helvetica Standard" joke. Yes, this is genius. Watch Nichijou. */
	 
	text-rendering: optimizeSpeed;
	 
	background-color: #fff;

	color: #000;

	max-width: 740px;
}

.actionmenu ul,.menu ul,.actions ul,.pages ul {
	list-style-type: none;
}

table {
	width: 100%;
	
	border: 1px solid #102030;

	/* border-collapse: collapse; */
}

table tr:nth-child(even) td {
	background-color: #e0e8f8;
}

table tr:nth-child(odd) td {
	background-color: #f0f4ff;
}

table tr td,th {
	/* border: 1px solid white; */
	border: 1px solid #708090;
	
	padding: 2px;
}

table tr {
	border: 1px solid white;
}

.fileupload {
	background-color: #f0f4ff;
	
	width: 100%;
	
	border: 1px solid white;
	
	margin-bottom: 16px;
	
	padding: 2px;
	
	box-sizing: border-box;
}

.fileupload input[type=submit] {
	float: right;
}

.error, .tip, .actions {
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	
	padding: 4px;

	box-sizing: border-box;

	max-width: 480px;
}

.error p, .tip p {
	margin: 0;
}

.error {
	background: #fcb5be;
	border-color: #fc1e2d;
}

.tip {
	background: #aed6fc;
	border-color: #379dfc;
}

.actions {
	background: #f0f4ff;
	
	border: 1px solid #102030;

	width: 360px;
	
	margin-bottom: 0;
	
	padding: 0;
}

.actions ul {
	margin: 0;
	padding: 0;
}

.actions li {
	position: relative;

	margin: 2px;

	border: 1px solid #708090;
}

.actions .listhead, .tablehead {
	position: relative;

	background: url("bgv.png") repeat-x 0 0;
	
	color: white;
	font-weight: bold;
	text-align: center;
	
	padding-top: 4px;
	
	font-size: 12px;
	
	height: 20px;
	
	box-sizing: border-box;
}

.actions .listhead code {
	display: block;

	background-color: yellow;
	border-left: 1px solid grey;
	color: black;

	position: absolute;
	top: 0;
	right: 0;
	
	padding-top: 2px;
	padding-right: 2px;
	padding-left: 2px;
	
	height: 100%;
	
	text-align: right;
	
	box-sizing: border-box;
}

.led {
	float: right;
	
	margin: 0;
	padding: 0;
	
	background: transparent url('./builtins.png') -192px -64px no-repeat !important;
	
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	
	width: 15px;
	height: 15px;

	outline: none !important;
	box-shadow: none !important;
}

.led:checked {
	background: transparent url('./builtins.png') -208px -64px no-repeat !important;
}

.actions li a {
	display: block;

	text-decoration: none;
	
	color: #0000a0;
	
	padding: 4px;
	
	width: 100%;
	
	box-sizing: border-box;
}

.actions li a:hover {
	background-color: #ffffc0;
}

.layout tr, .layout td {
	border: 0 !important;
	background: transparent !important;
}

.layout tr td {
	vertical-align: top;
	padding: 4px;
}

.editor .CodeMirror {
	font-family: "Lucida Console", Monaco, monospace;

	height: 550px;
}

.icon {
	display: inline-block;
	
	vertical-align: middle;
	
	margin: 0;
	padding: 0;

	background: url('./builtins.png') -32px -64px no-repeat;

	width: 16px;
	height: 16px;
}

.icon-small {
	transform: scale(0.8);
}

.icon.icon-lightbulb     { background-position: -48px    -0px   ; }
.icon.icon-error         { background-position: -80px    -16px  ; }
.icon.icon-success       { background-position: -64px    -16px  ; }
.icon.icon-cross         { background-position: -48px    -16px  ; }
.icon.icon-home          { background-position: -128px   -48px  ; }
.icon.icon-cog           { background-position: -0px     -48px  ; }
.icon.icon-edit-user     { background-position: -64px    -48px  ; }
.icon.icon-user          { background-position: -48px    -48px  ; }
.icon.icon-batch         { background-position: -48px    -112px ; }
.icon.icon-cmd           { background-position: -128px   -96px  ; }
.icon.icon-binary        { background-position: -64px    -80px  ; }
.icon.icon-paperclip     { background-position: -48px    -64px  ; }
.icon.icon-computer      { background-position: -144px   -112px ; }
.icon.icon-processor     { background-position: -64px    -0px   ; }
.icon.icon-processor-3d  { background-position: -112px   -80px  ; }
.icon.icon-eye           { background-position: -0px     -16px  ; }
.icon.icon-refresh       { background-position: -208px   -16px  ; }
.icon.icon-fullscreen    { background-position: -208px   -0px   ; }
.icon.icon-tick          { background-position: -240px   -32px  ; }
.icon.icon-question      { background-position: -208px   -32px  ; }
.icon.icon-padlock       { background-position: -224px   -32px  ; }
.icon.icon-database      { background-position: -160px   -48px  ; }
.icon.icon-signs         { background-position: -96px    -0px   ; }
.icon.icon-comment       { background-position: -176px   -32px  ; }
.icon.icon-new-comment   { background-position: -96px    -16px  ; }
.icon.icon-new-comments  { background-position: -112px   -16px  ; }
.icon.icon-shield-warn   { background-position: -96px    -48px  ; }
.icon.icon-shield-error  { background-position: -112px   -48px  ; }
.icon.icon-inbox         { background-position: -96px    -32px  ; }
.icon.icon-function      { background-position: -144px   -0px   ; }
.icon.icon-photos        { background-position: -192px   -0px   ; }
.icon.icon-tag           { background-position: -176px   -16px  ; }
.icon.icon-megaphone     { background-position: -192px   -32px  ; }
.icon.icon-folder        { background-position: -176px   -48px  ; }
.icon.icon-book          { background-position: -224px   -16px  ; }
.icon.icon-printer       { background-position: -128px   -80px  ; }

#tiptd {
	width: 100%;
}

.individual-comment .author {
	font-weight: bold;
}

.individual-comment .date {
	color: #808080;
}

.individual-comment .decomment {
	position: absolute;

	top: 6px;
	right: 6px;
}

.individual-comment .avatar {
	float: left;
}

.individual-comment .comment-text {
	margin-left: 36px;
}

.individual-comment {
	position: relative;

	padding: 6px;

	border: 1px solid white;
}

.individual-comment:hover {
	background-color: #f0f4ff;
}

.comments {
	max-width: 840px;
}

.comment-form-inner #input {
	width: 100%;

	resize: none;

	box-sizing: border-box;
}

#commenttd {
	padding: 4px;

	width: 100%;
}

.jumptag {
	display: none;
}

.pagelink.selected {
	font-weight: bold;

	text-decoration: underline;
}

.pages ul {
	margin: 0;
	padding: 8px;

	border: 1px solid white;

	background-color: #f0f4ff;

	box-sizing: border-box;
}

.pages ul li {
	display: inline-block;

	box-sizing: border-box;

	padding-top: 2px;

	width: 16px;
	height: 16px;

	text-align: center;
}

.pages ul li a {
	text-decoration: none;

	color: #0000a0;
}

input {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

input[type="checkbox"] {
	width: 16px;
	height: 16px;

	outline: 1px solid black;
	background-color: white;

	margin: 0;
}

input[type="checkbox"]:checked {
	box-shadow:0px 0px 0px 2px white inset;
	background-color: #0000a0;
}